In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

file_path = r'C:\Users\Eug√™nioLenineGueiros\Documents\PosTechDataScience_Fiap\05_Deep_Learning\arquivos\PEDE_PASSOS_DATASET_FIAP.csv'
pd.set_option('display.max_columns', None)
df = pd.read_csv(file_path, delimiter=';')

# Analisando os dados üîé

In [ ]:
# Tem algumas inconsist√™ncias de nomenclatura em rela√ß√£o ao dataset e o PDF de dicion√°rio, mas acho que tudo bem...
# Reparei tamb√©m que temos colunas faltando, sendo elas: **REC_PSICO_2021**, **REC_PSICO_2022** e **INSTITUICAO_ENSINO_ALUNO_2022**.

In [7]:
#Ajustando configura√ß√µes para permitir a visualiza√ß√£o de todas as colunas

pd.set_option('display.max_columns', None)

# Fun√ß√µes reutiliz√°veis ü§ì

In [4]:
def filter_columns(df, filters: list): # adiciono no array o padr√£o que existe nas colunas e que n√£o quero que tenha na sa√≠da final
    selected_columns = [True] * len(df.columns)  # Inicializa todas as colunas como True
    for index, column in enumerate(df.columns):
        if any(filter in column for filter in filters): selected_columns[index] = False
    return df[df.columns[selected_columns]]

In [5]:
def cleaning_dataset(df):
  _df = df.dropna(subset=df.columns.difference(['NOME']), how='all') # executa o dropna para todas as colunas sem visualizar a coluna NOME
  _df = _df[~_df.isna().all(axis=1)] # remove linhas com apenas NaN, se tiver algum dado na linha n√£o remove
  return _df

In [6]:
def plot_exact_counter(size, x, y, df) -> None:
  import matplotlib.pyplot as plt
  import seaborn as sns
  import pandas as pd

  plt.figure(figsize=size)
  barplot = plt.bar(y.index, y.values)
  plt.xlabel(x)
  plt.ylabel('Count')

  for index, value in enumerate(y.values):
        plt.text(index, value, round(value, 2), color='black', ha="center")

  plt.show()

In [8]:
passos_magicos_22 = filter_columns(df, ['2020', '2021'])
passos_magicos_22 = cleaning_dataset(passos_magicos_22)
passos_magicos_22.head()

,NOME,FASE_2022,TURMA_2022,ANO_INGRESSO_2022,BOLSISTA_2022,INDE_2022,CG_2022,CF_2022,CT_2022,PEDRA_2022,DESTAQUE_IEG_2022,DESTAQUE_IDA_2022,DESTAQUE_IPV_2022,IAA_2022,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,REC_AVA_1_2022,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022
1,ALUNO-2,0.0,K,2022.0,N√£o,7.675509,245.0,66.0,6.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Destaque: As suas boas notas na Passos M√°gicos.,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,10.00002,7.581705,7.5,8.816667,8.200000,9.433333,NaN,2.0,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,Sim,N√£o,7.916665,5.0,Fase 2 (5¬∫ e 6¬∫ ano)
3,ALUNO-4,2.0,J,2022.0,N√£o,7.117065,451.0,69.0,3.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,10.00002,8.071429,7.5,5.083333,5.000000,5.166667,NaN,3.0,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,N√£o,N√£o,8.055553,5.0,Fase 3 (7¬∫ e 8¬∫ ano)
4,ALUNO-5,2.0,L,2019.0,N√£o,7.232336,415.0,61.0,12.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,6.41668,8.557505,7.5,7.083333,6.666667,7.500000,NaN,3.0,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,N√£o,N√£o,7.833337,5.0,Fase 3 (7¬∫ e 8¬∫ ano)
5,ALUNO-6,2.0,K,2022.0,N√£o,7.741669,221.0,35.0,2.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,9.00002,9.333333,7.5,5.500000,3.000000,8.000000,NaN,3.0,6.250000,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,N√£o,N√£o,7.500000,10.0,Fase 2 (5¬∫ e 6¬∫ ano)
6,ALUNO-7,1.0,U,2022.0,N√£o,7.406743,357.0,93.0,7.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,10.00002,9.314954,7.5,5.583333,4.666667,6.500000,NaN,2.0,5.937500,Promovido de Fase,Promovido de Fase,NaN,NaN,N√£o,N√£o,7.916670,5.0,Fase 2 (5¬∫ e 6¬∫ ano)

In [10]:
passos_magicos_22.columns

Index(['NOME', 'FASE_2022', 'TURMA_2022', 'ANO_INGRESSO_2022', 'BOLSISTA_2022',
       'INDE_2022', 'CG_2022', 'CF_2022', 'CT_2022', 'PEDRA_2022',
       'DESTAQUE_IEG_2022', 'DESTAQUE_IDA_2022', 'DESTAQUE_IPV_2022',
       'IAA_2022', 'IEG_2022', 'IPS_2022', 'IDA_2022', 'NOTA_PORT_2022',
       'NOTA_MAT_2022', 'NOTA_ING_2022', 'QTD_AVAL_2022', 'IPP_2022',
       'REC_AVA_1_2022', 'REC_AVA_2_2022', 'REC_AVA_3_2022', 'REC_AVA_4_2022',
       'INDICADO_BOLSA_2022', 'PONTO_VIRADA_2022', 'IPV_2022', 'IAN_2022',
       'NIVEL_IDEAL_2022'],
      dtype='object')

In [11]:
passos_magicos_22.info()

<class 'pandas.core.frame.DataFrame'>
Index: 862 entries, 1 to 1348
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NOME                 862 non-null    object
 1   FASE_2022            862 non-null    float64
 2   TURMA_2022           862 non-null    object
 3   ANO_INGRESSO_2022    862 non-null    float64
 4   BOLSISTA_2022        862 non-null    object
 5   INDE_2022            862 non-null    float64
 6   CG_2022              862 non-null    float64
 7   CF_2022              862 non-null    float64
 8   CT_2022              862 non-null    float64
 9   PEDRA_2022           862 non-null    object
 10  DESTAQUE_IEG_2022    862 non-null    object
 11  DESTAQUE_IDA_2022    862 non-null    object
 12  DESTAQUE_IPV_2022    862 non-null    object
 13  IAA_2022             862 non-null    float64
 14  IEG_2022             862 non-null    float64
 15  IPS_2022             862 non-null    float64
 16  IDA_2022             862 non-null    float64
 17  NOTA_PORT_2022       860 non-null    float64
 18  NOTA_MAT_2022        860 non-null    float64
 19  NOTA_ING_2022        285 non-null    float64
 20  QTD_AVAL_2022        862 non-null    float64
 21  IPP_2022             862 non-null    float64
 22  REC_AVA_1_2022       862 non-null    object
 23  REC_AVA_2_2022       862 non-null    object
 24  REC_AVA_3_2022       626 non-null    object
 25  REC_AVA_4_2022       285 non-null    object
 26  INDICADO_BOLSA_2022  862 non-null    object
 27  PONTO_VIRADA_2022    862 non-null    object
 28  IPV_2022             862 non-null    float64
 29  IAN_2022             862 non-null    float64
 30  NIVEL_IDEAL_2022     862 non-null    object
dtypes: float64(17), object(14)
memory usage: 215.5+ KB

In [12]:
#Ajustando colunas (transformando em dummy)

passos_magicos_22['BOLSISTA_2022'] = passos_magicos_22['BOLSISTA_2022'].replace(['Sim', 'N√£o'], [1,0])
passos_magicos_22['INDICADO_BOLSA_2022'] = passos_magicos_22['INDICADO_BOLSA_2022'].replace(['Sim', 'N√£o'], [1,0])
passos_magicos_22['PONTO_VIRADA_2022'] = passos_magicos_22['PONTO_VIRADA_2022'].replace(['Sim', 'N√£o'], [1,0])

C:\Users\Eug√™nioLenineGueiros\AppData\Local\Temp\ipykernel_22888\1841872301.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  passos_magicos_22['BOLSISTA_2022'] = passos_magicos_22['BOLSISTA_2022'].replace(['Sim', 'N√£o'], [1,0])
C:\Users\Eug√™nioLenineGueiros\AppData\Local\Temp\ipykernel_22888\1841872301.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  passos_magicos_22['INDICADO_BOLSA_2022'] = passos_magicos_22['INDICADO_BOLSA_2022'].replace(['Sim', 'N√£o'], [1,0])
C:\Users\Eug√™nioLenineGueiros\AppData\Local\Temp\ipykernel_22888\1841872301.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  passos_magicos_22['PONTO_VIRADA_2022'] = passos_magicos_22['PONTO_VIRADA_2022'].replace(['Sim', 'N√£o'], [1,0])

In [13]:
passos_magicos_22.head()

,NOME,FASE_2022,TURMA_2022,ANO_INGRESSO_2022,BOLSISTA_2022,INDE_2022,CG_2022,CF_2022,CT_2022,PEDRA_2022,DESTAQUE_IEG_2022,DESTAQUE_IDA_2022,DESTAQUE_IPV_2022,IAA_2022,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,REC_AVA_1_2022,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022
1,ALUNO-2,0.0,K,2022.0,0,7.675509,245.0,66.0,6.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Destaque: As suas boas notas na Passos M√°gicos.,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,10.00002,7.581705,7.5,8.816667,8.200000,9.433333,NaN,2.0,5.625000,Mantido na Fase + Bolsa,Mantido na Fase atual,NaN,NaN,1,0,7.916665,5.0,Fase 2 (5¬∫ e 6¬∫ ano)
3,ALUNO-4,2.0,J,2022.0,0,7.117065,451.0,69.0,3.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,10.00002,8.071429,7.5,5.083333,5.000000,5.166667,NaN,3.0,6.250000,Promovido de Fase,Mantido na Fase atual,Promovido de Fase,NaN,0,0,8.055553,5.0,Fase 3 (7¬∫ e 8¬∫ ano)
4,ALUNO-5,2.0,L,2019.0,0,7.232336,415.0,61.0,12.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,6.41668,8.557505,7.5,7.083333,6.666667,7.500000,NaN,3.0,6.458333,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,0,0,7.833337,5.0,Fase 3 (7¬∫ e 8¬∫ ano)
5,ALUNO-6,2.0,K,2022.0,0,7.741669,221.0,35.0,2.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,9.00002,9.333333,7.5,5.500000,3.000000,8.000000,NaN,3.0,6.250000,Mantido na Fase atual,Promovido de Fase,Mantido na Fase atual,NaN,0,0,7.500000,10.0,Fase 2 (5¬∫ e 6¬∫ ano)
6,ALUNO-7,1.0,U,2022.0,0,7.406743,357.0,93.0,7.0,Ametista,Destaque: A sua boa entrega das li√ß√µes de casa.,Melhorar: Empenhar-se mais nas aulas e avalia√ß...,Destaque: A sua boa integra√ß√£o aos Princ√≠pios ...,10.00002,9.314954,7.5,5.583333,4.666667,6.500000,NaN,2.0,5.937500,Promovido de Fase,Promovido de Fase,NaN,NaN,0,0,7.916670,5.0,Fase 2 (5¬∫ e 6¬∫ ano)

In [14]:
passos_magicos_22['PEDRA_2022'].unique()

array(['Ametista', 'Quartzo', 'Top√°zio', '√Ågata'], dtype=object)

In [15]:
passos_magicos_22['DESTAQUE_IEG_2022'].unique()

array(['Destaque: A sua boa entrega das li√ß√µes de casa.',
       'Melhorar: Melhorar a sua entrega de li√ß√µes de casa.'],
      dtype=object)

In [16]:
passos_magicos_22['DESTAQUE_IDA_2022'].unique()

array(['Destaque: As suas boas notas na Passos M√°gicos.',
       'Melhorar: Empenhar-se mais nas aulas e avalia√ß√µes.'], dtype=object)

In [17]:
passos_magicos_22['DESTAQUE_IPV_2022'].unique()

array(['Destaque: A sua boa integra√ß√£o aos Princ√≠pios Passos M√°gicos.',
       'Melhorar: Integrar-se mais aos Princ√≠pios Passos M√°gicos.'],
      dtype=object)

In [18]:
passos_magicos_22['REC_AVA_1_2022'].unique()

array(['Mantido na Fase + Bolsa', 'Promovido de Fase',
       'Mantido na Fase atual', 'Promovido de Fase + Bolsa',
       'N√£o avaliado', 'Alocado em Fase anterior'], dtype=object)

In [19]:
passos_magicos_22['REC_AVA_2_2022'].unique()

array(['Mantido na Fase atual', 'Promovido de Fase', 'N√£o avaliado',
       'Promovido de Fase + Bolsa', 'Mantido na Fase + Bolsa'],
      dtype=object)

In [20]:
passos_magicos_22['REC_AVA_3_2022'].unique()

array([nan, 'Promovido de Fase', 'Mantido na Fase atual',
       'Promovido de Fase + Bolsa', 'Mantido na Fase + Bolsa',
       'Alocado em Fase anterior'], dtype=object)

In [21]:
passos_magicos_22['REC_AVA_4_2022'].unique()

array([nan, 'Promovido de Fase', 'Promovido de Fase + Bolsa',
       'Mantido na Fase atual', 'Mantido na Fase + Bolsa',
       'Alocado em Fase anterior'], dtype=object)

In [22]:
passos_magicos_22['NIVEL_IDEAL_2022'].unique()

array(['Fase 2 (5¬∫ e 6¬∫ ano)', 'Fase 3 (7¬∫ e 8¬∫ ano)', 'Fase 6 (2¬∫ EM)',
       'ALFA  (2¬∫ e 3¬∫ ano)', 'Fase 1 (4¬∫ ano)', 'Fase 4 (9¬∫ ano)',
       'Fase 8 (Universit√°rios)', 'Fase 5 (1¬∫ EM)', 'Fase 7 (3¬∫ EM)'],
      dtype=object)

In [23]:
drop_columns = ['DESTAQUE_IEG_2022', 'DESTAQUE_IDA_2022', 'DESTAQUE_IPV_2022', 'REC_AVA_1_2022',
                'REC_AVA_2_2022', 'REC_AVA_3_2022', 'REC_AVA_4_2022', 'NIVEL_IDEAL_2022', 'NOME', 'FASE_2022', 'TURMA_2022', 'ANO_INGRESSO_2022']

In [24]:
passos_magicos_22.drop(columns=drop_columns, inplace=True)

In [25]:
passos_magicos_22.head()

,BOLSISTA_2022,INDE_2022,CG_2022,CF_2022,CT_2022,PEDRA_2022,IAA_2022,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022
1,0,7.675509,245.0,66.0,6.0,Ametista,10.00002,7.581705,7.5,8.816667,8.200000,9.433333,NaN,2.0,5.625000,1,0,7.916665,5.0
3,0,7.117065,451.0,69.0,3.0,Ametista,10.00002,8.071429,7.5,5.083333,5.000000,5.166667,NaN,3.0,6.250000,0,0,8.055553,5.0
4,0,7.232336,415.0,61.0,12.0,Ametista,6.41668,8.557505,7.5,7.083333,6.666667,7.500000,NaN,3.0,6.458333,0,0,7.833337,5.0
5,0,7.741669,221.0,35.0,2.0,Ametista,9.00002,9.333333,7.5,5.500000,3.000000,8.000000,NaN,3.0,6.250000,0,0,7.500000,10.0
6,0,7.406743,357.0,93.0,7.0,Ametista,10.00002,9.314954,7.5,5.583333,4.666667,6.500000,NaN,2.0,5.937500,0,0,7.916670,5.0

In [26]:
passos_magicos_22 = pd.get_dummies(passos_magicos_22, columns=['PEDRA_2022'], dtype=int)

In [27]:
passos_magicos_22.head()

,BOLSISTA_2022,INDE_2022,CG_2022,CF_2022,CT_2022,IAA_2022,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,PEDRA_2022_Ametista,PEDRA_2022_Quartzo,PEDRA_2022_Top√°zio,PEDRA_2022_√Ågata
1,0,7.675509,245.0,66.0,6.0,10.00002,7.581705,7.5,8.816667,8.200000,9.433333,NaN,2.0,5.625000,1,0,7.916665,5.0,1,0,0,0
3,0,7.117065,451.0,69.0,3.0,10.00002,8.071429,7.5,5.083333,5.000000,5.166667,NaN,3.0,6.250000,0,0,8.055553,5.0,1,0,0,0
4,0,7.232336,415.0,61.0,12.0,6.41668,8.557505,7.5,7.083333,6.666667,7.500000,NaN,3.0,6.458333,0,0,7.833337,5.0,1,0,0,0
5,0,7.741669,221.0,35.0,2.0,9.00002,9.333333,7.5,5.500000,3.000000,8.000000,NaN,3.0,6.250000,0,0,7.500000,10.0,1,0,0,0
6,0,7.406743,357.0,93.0,7.0,10.00002,9.314954,7.5,5.583333,4.666667,6.500000,NaN,2.0,5.937500,0,0,7.916670,5.0,1,0,0,0

In [28]:
passos_magicos_22.rename(columns={
    'PEDRA_2022_Ametista':'Ametista',
    'PEDRA_2022_Quartzo':'Quartzo',
    'PEDRA_2022_Top√°zio':'Topazio',
    'PEDRA_2022_√Ågata':'Agata'
}, inplace = True)

In [29]:
passos_magicos_22.head()

,BOLSISTA_2022,INDE_2022,CG_2022,CF_2022,CT_2022,IAA_2022,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,Ametista,Quartzo,Topazio,Agata
1,0,7.675509,245.0,66.0,6.0,10.00002,7.581705,7.5,8.816667,8.200000,9.433333,NaN,2.0,5.625000,1,0,7.916665,5.0,1,0,0,0
3,0,7.117065,451.0,69.0,3.0,10.00002,8.071429,7.5,5.083333,5.000000,5.166667,NaN,3.0,6.250000,0,0,8.055553,5.0,1,0,0,0
4,0,7.232336,415.0,61.0,12.0,6.41668,8.557505,7.5,7.083333,6.666667,7.500000,NaN,3.0,6.458333,0,0,7.833337,5.0,1,0,0,0
5,0,7.741669,221.0,35.0,2.0,9.00002,9.333333,7.5,5.500000,3.000000,8.000000,NaN,3.0,6.250000,0,0,7.500000,10.0,1,0,0,0
6,0,7.406743,357.0,93.0,7.0,10.00002,9.314954,7.5,5.583333,4.666667,6.500000,NaN,2.0,5.937500,0,0,7.916670,5.0,1,0,0,0

In [30]:
passos_magicos_22.info()

<class 'pandas.core.frame.DataFrame'>
Index: 862 entries, 1 to 1348
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BOLSISTA_2022        862 non-null    int64
 1   INDE_2022            862 non-null    float64
 2   CG_2022              862 non-null    float64
 3   CF_2022              862 non-null    float64
 4   CT_2022              862 non-null    float64
 5   IAA_2022             862 non-null    float64
 6   IEG_2022             862 non-null    float64
 7   IPS_2022             862 non-null    float64
 8   IDA_2022             862 non-null    float64
 9   NOTA_PORT_2022       860 non-null    float64
 10  NOTA_MAT_2022        860 non-null    float64
 11  NOTA_ING_2022        285 non-null    float64
 12  QTD_AVAL_2022        862 non-null    float64
 13  IPP_2022             862 non-null    float64
 14  INDICADO_BOLSA_2022  862 non-null    int64
 15  PONTO_VIRADA_2022    862 non-null    int64
 16  IPV_2022             862 non-null    float64
 17  IAN_2022             862 non-null    float64
 18  Ametista             862 non-null    int64
 19  Quartzo              862 non-null    int64
 20  Topazio              862 non-null    int64
 21  Agata                862 non-null    int64
dtypes: float64(15), int64(7)
memory usage: 154.9 KB